.item-card-container {
    display: flex;
    align-items: center;
    width: var(--desktop-width);
    overflow-x: scroll;
    margin-bottom: 200px;
}

.item-card-container::-webkit-scrollbar {
    display: none;
  }
  
.item-card-container {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

@media (min-width: 1328px) {
    .item-card-container{
        width: var(--desktop-width);
    }
}

@media (max-width: 1328px){
    .item-card-container{
        width: var(--tab-width);
    }
}

@media (max-width : 834px){
    .item-card-container{
        width: var(--mobile-width);
    }
} 
