.main-nav {
    display: flex;
    padding: 15px;
    height: 112px;
    background: var(--dark-theme);
    color: var(--primary);

    align-items: center;
    justify-content: space-around;
}

.search-bar-desktop {
    width: 85%;
    display: flex;
    justify-content: space-around;
}


.search-bar-mobile{
    width: 40%;
}

.side-bar {
    cursor: pointer;
}

@media (min-width: 1328px) {
    .main-nav{
        height: 112px;
        transition: height .2s ease-out;
    }

    .search-bar-tab {
        display: none;
    }
    .search-bar-mobile{
        display: none;
    }
}

@media (max-width: 1328px){
    .main-nav{
        height: 92px;
        transition: height .2s ease-out;
    }
    .search-bar-desktop {
        display: none;
    }
    .search-bar-mobile{
        display: none;
    }
    .search-bar-tab {
        display: inline;
    }
}

@media (max-width : 834px){
    .main-nav{
        height: 80px;
        transition: height .2s ease-out;
    }
    .search-bar-desktop {
        display: none;
    }
    .search-bar-tab {
        display: none;
    }
    .search-bar-mobile{
        display: inline;
    }

}

