.trending {
    display: flex;
    color: var(--primary);
    justify-content: space-between;
    width: var(--desktop-width);
    font-size: 42px;
    margin: 50px 0px;
}

.trend-btn > *{
    margin-left: 32px;
}

@media (min-width: 1328px) {
    .trending{
        width: var(--desktop-width);
    }
}

@media (max-width: 1328px){
    .trending{
        width: var(--tab-width);
    }
}

@media (max-width : 834px){
    .trending{
        width: var(--mobile-width);
    }
} 
