.category-tab-parent {
    width: var(--desktop-width);
    margin : 2em;
    display: flex;
    color: var(--primary);
    align-items: center;
    justify-content: space-between;
}

#category-tab-slider{
    scroll-behavior: smooth;
}

.category-tab-container {
    width: 95%;
    display: flex;
    overflow-x: scroll;
}

.category-tab-container::-webkit-scrollbar {
    display: none;
  }
  
.category-tab-container {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.active{
    display: inline;
}

@media (min-width: 1328px) {
    .category-tab-parent{
        width: var(--desktop-width);
    }
    .category-tab-container{
        width: 95%;
    }
    .active{
        display: inline;
    }    
}

@media (max-width: 1328px){
    .category-tab-parent{
        width: var(--tab-width);
    }
    .active{
        display: none;
    }   
    .category-tab-container{
        width: 100%;
    }
}

@media (max-width : 834px){
    .category-tab-parent{
        width: var(--mobile-width);
    }
    .active{
        display: none;
    }   
    .category-tab-container{
        width: 100%;
    }
} 
